.option {
  display: flex;
}

.option>label {
  width: 20ch;
}

.row {
  display: flex;
  border-bottom: solid 1px #aaa;
}

.row.list-header {
  border-top: solid 1px #aaa;
}

.row.list-header>.body {
  border-top: solid 1px #aaa;
  background-color: #ddd;
}

.header {
  width: 80px;
  text-align: right;
  padding-right: 10px;
  background-color: #ddd;
}

.body {
  position: relative;
  flex-grow: 1;
}

.result {
  position: absolute;
  height: 20px;
}

.circle {
  position: absolute;
  top: 3px;
  width: 14px;
  height: 14px;
  background-color: gray;
  border-radius: 50%;
}

.circle:first-child {
  left: 0;
}

.circle:last-child {
  right: 0;
}

.bar {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 5px;
  right: 5px;
  background-color: gray;
}

.result.success .circle, .result.success .bar {
  background-color: green;
}

.result.error .circle, .result.error .bar {
  background-color: red;
}

.response {
  right: 0;
  width: 100px;
  padding-left: 10px;
  background-color: #ddd;
}

.response.error {
  color: red;
}
