.option {
  display: flex;
}

.option input {
  width: 60px;
}

.option>label {
  width: 20ch;
}

#list {
  overflow: hidden;
}

.row {
  display: flex;
  border-bottom: solid 1px #aaa;
}

.row.list-header {
  border-top: solid 1px #aaa;
}

.row.list-header>.body {
  background-color: #ddd;
}

.header {
  width: 80px;
  text-align: center;
  background-color: #ddd;
}

.body {
  position: relative;
  flex-grow: 1;
}

.result {
  position: absolute;
  height: 20px;
}

.circle {
  /*display: none;*/
  position: absolute;
  top: 5px;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
}

.circle:first-child {
  left: 0;
}

.circle:last-child {
  right: 0;
}

.bar {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 5px;
  right: 5px;
  background-color: gray;
}

.result.success .circle, .result.success .bar {
  background-color: green;
}

.result.error .circle, .result.error .bar {
  background-color: red;
}

.response {
  right: 0;
  width: 80px;
  text-align: center;
  background-color: #ddd;
  z-index: 1;
}

.response.error {
  color: red;
}
